# OpenClaw Environment Variables
OPENCLAW_GATEWAY_BIND=0.0.0.0
OPENCLAW_GATEWAY_PORT=18789
OPENCLAW_GATEWAY_TOKEN=123456

# OpenCode Environment Variables
OPENCODE_PORT=4096
OPENCODE_HOSTNAME=0.0.0.0


